# Carpeta de dependencias
node_modules/

# Carpeta de compilación
.next/

# Archivos de registro
*.log

# Archivos temporales
*.tmp

# Archivos de caché
.cache/

# Archivos de compilación de TypeScript
*.tsbuildinfo

# Archivos de configuración
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de IDE (puedes agregar más si usas otro IDE)
.vscode/
.idea/

# Archivos generados por herramientas de desarrollo (pueden variar según tus herramientas)
yarn-error.log
npm-debug.log