body {
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    background-color: black;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    font-size: 28px;
    font-weight: 500;
}

h5 {
    font-size: 24px;
    font-weight: 500;
}

h6 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 500;
}

a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

span {
    text-decoration: none;
}

@media (min-width: 768px) {
    h2 {
        font-size: 56px;
    }
    h3 {
        font-size: 40px;
    }
}


:root {
    --main-blue: #1c82f6;
    --intense-blue: #0C0936;
    --yellow: #F5CE02;
    --black: #121212;
    --dark: #000;
    --white: #fff;
}

.flag-container {
    width: max-content;
    max-width: 64px;
    border-radius: 100%;
    border: white 1px solid;
}

.es-yellow {
    fill:#FFDA44;
}

.es-red {
    fill:#D80027;
}

.es-blue {
    fill:#0052B4;
}

.en-white {
    fill:#F0F0F0;
}

.en-red {
    fill:#D80027;
}

.en-blue {
    fill:#0052B4;
}

.fr-white {
    fill:#F0F0F0;
}

.fr-red {
    fill:#D80027;
}

.fr-blue {
    fill:#0052B4;
}

.button-projects {
    background-color: transparent;
    border: none;
    color: var(--main-blue);
    margin: 0;
    :hover {
      color: var(--white);
    }
}